[Desktop Entry]
Type=Application
Name=Flashlight OFF
Exec=/bin/sh -c "echo 0 > /sys/devices/virtual/camera/flash/rear_flash"
Icon=/usr/share/icons/flashlight.png
