[Unit]
Description=Use audio hidl compat layer
Before=user@32011.service
After=lxc@android.service
Requires=lxc@android.service

[Service]
Type=oneshot
RemainAfterExit=yes
# reenable audio HAL service
ExecStartPost=mount -o bind /usr/lib/droid-system-overlay/etc/init/init.disabled.rc /var/lib/lxc/android/rootfs/system/etc/init/init.disabled.rc
# use audio.hidl_compat wrapper HAL
ExecStartPost=mount -o bind /system/lib64/hw/audio.hidl_compat.default.so /vendor/lib64/hw/audio.primary.default.so

[Install]
WantedBy=graphical.target
