[Unit]
Description=fix resolved at boot
After=lxc@android.service

[Service]
ExecStart=/usr/bin/rm /etc/resolv.conf
ExecStart=/bin/sh -c '/usr/bin/echo "nameserver 8.8.8.8" > /etc/resolv.conf'
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=default.target
