#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	gcc -o usr/bin/getepoch src/getepoch.c -lcurl

override_dh_installsystemd:
	dh_installsystemd -padaptation-exynos9810-configs --name=apt-fix apt-fix.service --no-start
	dh_installsystemd -padaptation-exynos9810-configs --name=altresolv altresolv.service --no-start
	dh_installsystemd -padaptation-exynos9810-configs --name=getepoch getepoch.service --no-start
	dh_installsystemd -padaptation-exynos9810-configs --name=enable-nfc enable-nfc.service --no-start
	dh_installsystemd -padaptation-exynos9810-configs --name=setup-zram setup-zram.service --no-start
	dh_installsystemd -padaptation-exynos9810-configs --name=pulse-clear-cache pulse-clear-cache.service --no-start
	dh_installsystemd -padaptation-exynos9810-configs --name=droidian-perf droidian-perf.service --no-start
