# full override of geoclue with most isolation/namespacing values stripped out to work on exynos

[Unit]
Description=Location Lookup Service

[Service]
Type=dbus
BusName=org.freedesktop.GeoClue2
User=geoclue
ExecStart=/usr/libexec/geoclue
