[Unit]
Description=Locale Service
Documentation=man:systemd-localed.service(8)
Documentation=man:locale.conf(5)
Documentation=man:vconsole.conf(5)
Documentation=man:org.freedesktop.locale1(5)

[Service]
BusName=org.freedesktop.locale1
ExecStart=/lib/systemd/systemd-localed
